$height: 15px;
$color-brand: #e61616;
$color-primary: #ffb703;
$color-secondary: #023047;
$color-white: #fff;
$box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
$direction: center;

.button {
  padding: 20px 15px;
  background-color: $color-brand;
  color: $color-white;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: row;
  align-items: $direction;
  &--primary {
    background-color: $color-primary;
    color: green;
  }
  &.button--secondary {
    background-color: $color-secondary;
  }
  p{
    color: blue;
  }
  &:hover {
    padding: 30px 20px;
    color: green;
  }
  @media (min-width: 768px){
    padding: 500px;
    color: black;
  }
}


p{
  @if( 4 < 2){
    color:red;
  }
  @else if( 5== 5){
    color:blue;
  }
  @else if(null){
    color:green;
  }
}





@for $i from 1 through 5{
  .m#{$i}{
    margin: $i+px;
  }
}

@for $i from 1 to 5{
  .p{
    padding: $i+px;
  }
}
// btn btn-primary
// bloque
// bloque--modificador 
// bloque__elemento
// bloque__elemento--modicador
// .card{
//   .card__title {

//   }
//   .card__body {
//     .card__body__main{

//     }
//     .card__body__img{
      
//     }
//   }
// }

$button: "button";

.#{$button}--ejemplo{
  padding: 15px;
}



// extend

%center {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main{
  @extend %center;
  color:#333;
}

.card{
  @extend %center;
}

@function dividir($a,$b){
  @return $a/$b
}

@mixin centerItems($direction:row) {
  display:flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

.title{
  @include centerItems;
  margin: dividir(10px,2px)+px;
  color:lighten(rgb(218, 11, 11), 10);
}

.footer{
  @include centerItems(column);
}

@mixin btn($color,$bg){
  margin: 15px;
  padding: 10px;
  color: $color;
  background-color: $bg;
  border-radius: 5px;
  outline: none;
  &:hover{
    background-color: darken($bg,10);
  }
  &:active{
    background-color: darken($bg,25);
  }
}

.btn{
  @include btn(#eee,red);
}

.btn--primary{
  @include btn(#eee,$color-primary);
}

$listaTamanios: (1:2px,2:4px,3:8px,4:16px,5:24px,6:32px);
$listaPosiciones: (t:"top",b:"bottom",s:"left",e:"right");
@each $key,$value in $listaTamanios {
  @each $posicion,$posicionValue in $listaPosiciones {
  .m#{$posicion}-#{$key}{
    margin-#{$posicionValue}: $value;
  }
  }
}